<div style="width: 100px; height: 100px">
    <button onclick={{action "emit" this "click" ""}}>test component one</button>
    {{cp-nest-test ssc="ssc" emit="emit" disconnect="disconnect"}}
    {{yield}}
</div>
