{{!-- {{outlet}} --}}
{{#link-to "original"}}
    DemoPage
{{/link-to}}
<p>
    目前页面出发组件的 willDestroyElement hook 主要有两种形式，一种是路由跳转，那么此页面所有组件的信号&槽都
    没有在另一个页面操作的可能。另外一种是本页面内，状态控制某些组件的显示与隐藏，其他组件的信号&槽正常使用，不受影响。
</p>